@charset "UTF-8";
body {
  margin: 0;
  width: 100%;
  background-color: #f0f7f1;
}

#nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #f0f7f1;
}

#nav .nav-a {
  color: #0c2b1b;
  text-decoration: none;
  line-height: 50px;
  margin: auto;
  font-size: 18px;
}

@media (max-width: 900px) {
  #nav .nav-a {
    display: none;
  }
}

#nav #nav-ham {
  height: 160px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f0f7f1;
  position: absolute;
  right: -200px;
  top: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#nav #nav-ham a {
  display: block;
  color: #0c2b1b;
  text-decoration: none;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px 0 15px;
  position: relative;
}

#nav #nav-ham a::after {
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 5px;
  left: 5px;
  translate: -50%, -50%;
  /*矢印の形状*/
  width: 5px;
  height: 30px;
  background-color: #1d663c;
}

#nav #nav-check {
  display: none;
}

#nav #nav-check:checked ~ #nav-ham {
  right: 0px;
}

#nav #nav-checkImg {
  display: none;
  padding: 4px;
}

@media (max-width: 900px) {
  #nav #nav-checkImg {
    display: block;
  }
}

#nav #nav-checkImg img {
  height: 100%;
}

#link {
  margin: 20px 5%;
}

#link a {
  color: #0c2b1b;
  text-decoration: none;
}

.article {
  background-color: #fff;
  margin: 30px auto;
  width: 70%;
  max-width: 1000px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 900px) {
  .article {
    width: 98%;
  }
}

@media (max-width: 900px) {
  .article {
    display: block;
  }
}

.article #article-text {
  width: 70%;
}

@media (max-width: 900px) {
  .article #article-text {
    width: 100%;
  }
}

.article #article-sub {
  width: 20%;
}

@media (max-width: 900px) {
  .article #article-sub {
    width: 100%;
  }
}

.article #article-sub .sub-image {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 20px 0 0 0;
  width: 100%;
}

@media (max-width: 900px) {
  .article #article-sub .sub-image {
    width: 50%;
    margin: 10px;
  }
}

.linkGroup {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  gap: 10px;
  max-width: 1476px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.linkGroup a {
  color: #0c2b1b;
  text-decoration: none;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #0c2b1b;
  text-align: center;
  background-color: #fff;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 432px) {
  .linkGroup a {
    margin: auto;
  }
}

.linkGroup a:hover {
  background-color: #0c2b1b;
  color: #fff;
}

.linkGroup a::after {
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 0px;
  left: -1px;
  translate: -50%, -50%;
  /*矢印の形状*/
  width: 4px;
  height: 40px;
  background-color: #0c2b1b;
}
/*# sourceMappingURL=article.css.map */